@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-ExtraLight.eot");
  src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"), url("Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("Montserrat-ExtraLight.woff2") format("woff2"), url("Montserrat-ExtraLight.woff") format("woff"), url("Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-MediumItalic.eot");
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"), url("Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), url("Montserrat-MediumItalic.woff2") format("woff2"), url("Montserrat-MediumItalic.woff") format("woff"), url("Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Italic.eot");
  src: local("Montserrat Italic"), local("Montserrat-Italic"), url("Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("Montserrat-Italic.woff2") format("woff2"), url("Montserrat-Italic.woff") format("woff"), url("Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("Montserrat-Regular.woff2") format("woff2"), url("Montserrat-Regular.woff") format("woff"), url("Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-ThinItalic.eot");
  src: local("Montserrat Thin Italic"), local("Montserrat-ThinItalic"), url("Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"), url("Montserrat-ThinItalic.woff2") format("woff2"), url("Montserrat-ThinItalic.woff") format("woff"), url("Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("Montserrat-Bold.woff2") format("woff2"), url("Montserrat-Bold.woff") format("woff"), url("Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Light.eot");
  src: local("Montserrat Light"), local("Montserrat-Light"), url("Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("Montserrat-Light.woff2") format("woff2"), url("Montserrat-Light.woff") format("woff"), url("Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Black.eot");
  src: local("Montserrat Black"), local("Montserrat-Black"), url("Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("Montserrat-Black.woff2") format("woff2"), url("Montserrat-Black.woff") format("woff"), url("Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Medium.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("Montserrat-Medium.woff2") format("woff2"), url("Montserrat-Medium.woff") format("woff"), url("Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-ExtraLightItalic.eot");
  src: local("Montserrat ExtraLight Italic"), local("Montserrat-ExtraLightItalic"), url("Montserrat-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("Montserrat-ExtraLightItalic.woff2") format("woff2"), url("Montserrat-ExtraLightItalic.woff") format("woff"), url("Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-BlackItalic.eot");
  src: local("Montserrat Black Italic"), local("Montserrat-BlackItalic"), url("Montserrat-BlackItalic.eot?#iefix") format("embedded-opentype"), url("Montserrat-BlackItalic.woff2") format("woff2"), url("Montserrat-BlackItalic.woff") format("woff"), url("Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-ExtraBoldItalic.eot");
  src: local("Montserrat ExtraBold Italic"), local("Montserrat-ExtraBoldItalic"), url("Montserrat-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("Montserrat-ExtraBoldItalic.woff") format("woff"), url("Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-SemiBoldItalic.eot");
  src: local("Montserrat SemiBold Italic"), local("Montserrat-SemiBoldItalic"), url("Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("Montserrat-SemiBoldItalic.woff2") format("woff2"), url("Montserrat-SemiBoldItalic.woff") format("woff"), url("Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-ExtraBold.eot");
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url("Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("Montserrat-ExtraBold.woff2") format("woff2"), url("Montserrat-ExtraBold.woff") format("woff"), url("Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-BoldItalic.eot");
  src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"), url("Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"), url("Montserrat-BoldItalic.woff2") format("woff2"), url("Montserrat-BoldItalic.woff") format("woff"), url("Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-LightItalic.eot");
  src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"), url("Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"), url("Montserrat-LightItalic.woff2") format("woff2"), url("Montserrat-LightItalic.woff") format("woff"), url("Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("Montserrat-SemiBold.woff2") format("woff2"), url("Montserrat-SemiBold.woff") format("woff"), url("Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Thin.eot");
  src: local("Montserrat Thin"), local("Montserrat-Thin"), url("Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url("Montserrat-Thin.woff2") format("woff2"), url("Montserrat-Thin.woff") format("woff"), url("Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
.service_section {
  background-color: #323264;
  padding: 0 30px;
  margin-bottom: 60px;
}

.wrapper_service {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}

.service_list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.service_list article {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}
.service_list h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  color: #24A3FF;
  margin: 0;
}
.service_list p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #fff;
}

.description_title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.service_icon {
  width: 92px;
  height: 92px;
  padding: 14px;
  border-radius: 24px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .service_section {
    padding: 0 60px;
  }
  .wrapper_service {
    gap: 60px;
  }
  .service_list {
    gap: 60px;
    justify-content: space-between;
  }
  .service_list article {
    width: 45%;
  }
}
@media (min-width: 1024px) {
  .service_list article {
    width: 28%;
  }
}
@media (min-width: 1720px) {
  .wrapper_service {
    width: 1600px;
  }
}
.wrapper_partners {
  margin-left: auto;
  margin-right: auto;
}
.wrapper_partners a {
  width: 100%;
  padding: 36px 78px;
  display: flex;
  justify-content: center;
}

@media (min-width: 1720px) {
  .wrapper_partners {
    width: 1720px;
    border-radius: 12px;
    overflow: hidden;
  }
}
.wrapper_partners article:nth-child(1) {
  background-color: #1C4280;
}

.wrapper_partners article:nth-child(2) {
  background-color: #143646;
}

.wrapper_partners article:nth-child(3) {
  background-color: #F48B30;
}

.wrapper_partners article:nth-child(4) {
  background-color: #9E4DC3;
}

.wrapper_partners article:nth-child(5) {
  background-color: #FD9339;
}

.wrapper_partners article:nth-child(6) {
  background-color: #E2E2E4;
}

.wrapper_partners article:nth-child(7) {
  background-color: #C71C36;
}

.wrapper_partners article:nth-child(8) {
  background-color: #DCF3F9;
}

.wrapper_partners article:nth-child(9) {
  background-color: #EAEAEA;
}

.wrapper_partners article:nth-child(10) {
  background-color: #282240;
}

.wrapper_partners article:nth-child(11) {
  background-color: #1D4568;
}

.wrapper_partners article:nth-child(12) {
  background-color: #000000;
}

@media (max-width: 767px) {
  .wrapper_partners article:nth-child(n+7) {
    display: none;
  }
}
@media (min-width: 768px) {
  .wrapper_partners {
    display: flex;
    flex-wrap: wrap;
  }
  .wrapper_partners article {
    width: 33.33%;
  }
}
@media (min-width: 1024px) {
  .wrapper_partners article {
    width: 25%;
  }
}
@media (min-width: 1720px) {
  .wrapper_partners {
    width: 1720px;
    border-radius: 12px;
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .wrapper_partners article:nth-child(n+7) {
    display: none;
  }
}
@media (min-width: 768px) {
  .wrapper_partners {
    display: flex;
    flex-wrap: wrap;
  }
  .wrapper_partners article {
    width: 33.33%;
  }
}
@media (min-width: 1024px) {
  .wrapper_partners article {
    width: 25%;
  }
}
@media (min-width: 1720px) {
  .wrapper_partners {
    width: 1720px;
    border-radius: 12px;
    overflow: hidden;
  }
}
.slider_section {
  padding: 0 30px;
}

.wrapper_slider {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.slider_element {
  background-color: #F5F5FA;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.man_picture {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.partner_info {
  padding: 0 30px 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.partner_info .about_title {
  gap: 5px;
}
.partner_info .title_header {
  word-break: break-word;
}

.leadership_info {
  color: #B3B3BA;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.leadership_info h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  margin: 0;
}
.leadership_info p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}

.crumbs_wrapper {
  margin-left: auto;
  margin-right: auto;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
}

.circle_item {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba(36, 163, 255, 0.5);
}

.circle_item_active {
  background-color: rgb(36, 163, 255);
}

.trust h3 {
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .slider_section {
    padding: 0 60px;
  }
}
@media (min-width: 1024px) {
  .man_picture {
    height: 100%;
  }
  .slider_element {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 0;
  }
  .partner_info {
    padding: 30px;
  }
  .partner_info .title_header {
    font-size: 38px;
    line-height: 46px;
  }
}
@media (min-width: 1440px) {
  .man_picture {
    height: 344px;
  }
}
@media (min-width: 1720px) {
  .wrapper_slider {
    width: 1600px;
  }
}
.news_section {
  background-color: rgb(245, 245, 250);
  padding: 30px 30px 0 30px;
}

.news_wrapper {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.news_item {
  background-color: #FFF;
  border-radius: 8px;
  overflow: hidden;
}
.news_item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.news_content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.news_title {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  color: rgb(36, 163, 255);
  text-decoration: none;
}

.news_date {
  font-weight: 700;
  line-height: 14.5px;
  letter-spacing: 1px;
  color: rgb(179, 179, 186);
}

.breakline {
  width: 100%;
  height: 4px;
  background-color: rgb(230, 230, 240);
}

.news_description {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

@media (min-width: 768px) {
  .news_wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .news_wrapper .about_title {
    grid-column-start: 1;
    grid-column-end: -1;
  }
  .news_item:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
  .news_section {
    padding: 30px 60px 0 60px;
  }
}
@media (min-width: 1024px) {
  .news_wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .news_item:nth-child(4) {
    grid-column: span 1;
  }
}
@media (min-width: 1720px) {
  .news_wrapper {
    width: 1600px;
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
}

.arrow_right {
  background-color: transparent;
  width: 7px;
  height: 7px;
  border: 2px solid #24A3FF;
  border-bottom: none;
  border-left: none;
  transform: rotate(45deg);
}

.about_title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.title_header {
  font-size: 30px;
  font-weight: 700;
  line-height: 36.5px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  color: transparent;
  margin: 0;
}

.title_button_link {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #24A3FF;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
}
.title_button_link:hover {
  color: #F0145A;
}
.title_button_link:hover .arrow_right {
  border: 2px solid #F0145A;
  border-bottom: none;
  border-left: none;
}

@media (min-width: 768px) {
  .title_header {
    font-size: 38px;
    line-height: 46.3px;
  }
}

/*# sourceMappingURL=style.css.map */
