@use 'variables.scss' as var;

@mixin centerBlock {
    margin-left: auto;
    margin-right: auto;
}

@mixin gradientText {
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    background-clip: text;
    color: transparent;
}

@mixin circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

@mixin arrowRight{
    background-color: transparent;
    width: 7px;
    height: 7px;
    border: 2px solid var.$headerColor;
    border-bottom: none;
    border-left: none;
    transform: rotate(45deg);
}