@use 'variables.scss' as var;
@use 'mixins.scss' as mix;
@use '../fonts/stylesheet.css';

.news_section {
    background-color: rgb(245, 245, 250);
    padding: 30px 30px 0 30px;
}

.news_wrapper {
    @include mix.centerBlock;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.news_item {
    background-color: #FFF;
    border-radius: 8px;
    overflow: hidden;
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
}

.news_content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.news_title {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    color: rgb(36, 163, 255);
    text-decoration: none;
}

.news_date {
    font-weight: 700;
    line-height: 14.5px;
    letter-spacing: 1px;
    color: rgb(179, 179, 186);
}

.breakline {
    width: 100%;
    height: 4px;
    background-color: rgb(230, 230, 240);

}

.news_description {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

@media (min-width: var.$tabletSD) {
    .news_wrapper {
        .about_title {
            grid-column-start: 1;
            grid-column-end: -1;
        }
        grid-template-columns: 1fr 1fr;
    }
    .news_item:nth-child(4) {
        grid-column-start: 1;
        grid-column-end: -1;
    }
    .news_section {
        padding: 30px 60px 0 60px;
    }
}

@media (min-width:var.$tabletHD) {
    .news_wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
    .news_item:nth-child(4) {
        grid-column: span 1;
    }
}

@media (min-width: 1720px) {
    .news_wrapper {
        width: 1600px;
    }
}