@use 'variables.scss' as var;
@use 'mixins.scss' as mix;
@use 'services.scss';
@use 'partners.scss';
@use 'slider.scss';
@use 'news.scss';
@use 'footer.scss';
@use '../css/normalize.css';

* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
}

.arrow_right {
    @include mix.arrowRight;
}

.about_title {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.title_header {
        font-size: 30px;
        font-weight: 700;
        line-height: 36.5px;
        @include mix.gradientText;
        margin: 0;
}

.title_button_link {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 1px;
    text-decoration: none;
    color: var.$headerColor;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;

    &:hover {
        color: #F0145A;
        .arrow_right {
            border: 2px solid #F0145A;
            border-bottom: none;
            border-left: none;
        }
    }
}

@media (min-width: var.$tabletSD) {
    .title_header {
        font-size: 38px;
        line-height: 46.3px;
}
}